.day > table tr {
  display: block;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
  background: #fff;
  //transition: .3s ease-in;
  &:nth-child(2n) {
    background: #efefef;
  }
}
.day > table tr.currentLess:not(.empty) {
  outline: 2px solid @current-less;
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  left: -1px;
  top: -1px;
  border: none;
}

.day > table tr > td {
  width: 1000px;
}

.less {
  padding: 7px 99px 6px 28px;
  width: 100%;
  word-break: break-word;
  position: relative;
  cursor: pointer;
  .ad {
    text-align: right;
    margin-top: 4px;
    font-weight: 100;
    padding: 3px 0 1px;
  }
  .teacher {
    float: left;
  }
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 4px;
    opacity: 0.9;
  }
  .title {
    color: #000000;
    line-height: 12px;
    font-size: 14px;
    font-family: Tahoma;
  }
}

.less.group-1 {
  &:before {
    content: '';
    background: #7e84b4;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 4px;
  }
}

.less.group-2 {
  &:before {
    content: '';
    background: #caba99;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 4px;
  }
}

.less.group-3 {
  &:before {
    content: '';
    background: #e56f6f;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 4px;
  }
}

.aud {
  position: absolute;
  bottom: 7px;
  right: 9px;
  font-size: 13px;
}

//============================
// HIDE EMPTY LESSONS
//============================

.day > table tr.empty {
  height: 26px;
}
.empty+.empty {
  //display: none;
}


//============================
// CSS NUMBERING LESSONS
//============================

.day > table tr > td:before {
  content: '';
  color: #000;
  position: absolute;
  text-align: center;
  font-size: 15px;
  top: 3px;
  left: 10px;
  z-index: 1;
  font-family: "CenturyGothicRegular";
}

.day > table tr > td.less-1:before {
  content: '1';
}

.day > table tr > td.less-2:before {
  content: '2';
}

.day > table tr > td.less-3:before {
  content: '3';
}

.day > table tr > td.less-4:before {
  content: '4';
}

.day > table tr > td.less-5:before {
  content: '5';
}

.day > table tr > td.less-6:before {
  content: '6';
}

.day > table tr > td.less-7:before {
  content: '7';
}

.day > table tr > td.less-8:before {
  content: '8';
}

.day > table tr > td.haveLess:after {
  content: ' ';
  font-size: 12px;
  color: #000000;
  position: absolute;
  top: 2px;
  right: 5px;
  height: 20px;
}

.day > table tr > td.haveLess.less-1:after {
  content: '8:30 – 9:50';
}

.day > table tr > td.haveLess.less-2:after {
  content: '10:00 – 11:20';
}

.day > table tr > td.haveLess.less-3:after {
  content: ' 11:30 – 12:50';
}

.day > table tr > td.haveLess.less-4:after {
  content: '13:30 – 14:50';
}

.day > table tr > td.haveLess.less-5:after {
  content: '15:00 – 16:20';
}

.day > table tr > td.haveLess.less-6:after {
  content: '16:30 – 17:50';
}

.day > table tr > td.haveLess.less-7:after {
  content: '18:00 – 19:20';
}

.day > table tr > td.haveLess.less-8:after {
  content: '19:30 – 20:50';
}

.day > table tr.currentLess > td.haveLess:after {
  color: #5E60F9;
}
