.group-search {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
  h1{
    text-transform: uppercase;
    font-size: 24px;
  }
}
img.mgtu-start-logo {
  max-width: 110px;
}
.search-section {
  text-align: center;
  margin: 8% auto 0;
  position: relative;
  max-width: 500px;
  padding: 50px 0px;
}
.search-form p {
  font-size: 21px;
  margin-bottom: 6px;
}
form.search-form {
  vertical-align: middle;
  height: 200px;
  text-align: left;
  width: 100%;
}

.ajax-select-wrap {
  text-align: left;
  input.ajax-select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #000;
    background: transparent;
  }
  &.head-select {
    float: left;
    margin: 9px;
    background: hsl(233, 48%, 33%);
    input.ajax-select {
      border: 1px solid #3c7998;
    }
  }
}

.ajax-select-results {
  width: 100%;
  max-height: 260px;
  overflow: auto;
  border: 1px solid #000;
  border-top: transparent;
  a {
    padding: 8px 14px;
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    &:hover, &.active {
      background: #323c8d !important;
      color: white;
    }
  }
  .ajax-select-result:nth-child(2n+1) a {
    background: #fff;
  }
  .ajax-select-result:nth-child(2n) a {
    background: #efefef;
  }
}
