@media (max-width: @screen-xs) {
  .day {
    margin: 11px 0px 0;
  }
  .head-search-form {
    width: 100% !important;
    display: none;
    border-top: 1px solid #356984;
  }
  .group-name {
    float: none;
    text-align: center;
    border: transparent;
  }
  .head .group-name:after {
    display: block;
  }
}
@media (max-width: @max-width) {
  .page-wrap{
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .search-section {
    margin: 0;
    height: 100%;
  }
}
